<h1>ポートフォリオページ</h1>
      <h1>
        <%= @user.name %>
      </h1>
      <div class="micropost">
        <% if @micropost %>
            <%= render 'microposts/show' %>
        <% end %>
      </div>
      <div class="center jumbotron">
        <%= link_to "TOPページ(ログイン)に戻る", login_path, class: "btn btn-lg btn-primary" %> 
			</div>
  