<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "ポートフォリオの森", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right fixed-top">
          <li><%= link_to "サインアップ", signup_path %></li>
          <li><%= link_to "ユーザー", all_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
      </ul>
    </nav>
  </div>
</header>